
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #000;
}

nav {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: blue;
  z-index: 10;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo a{
  text-decoration: none;
  color: pink;
  font-size: 30px;
  font-weight: 800;
}

.logo span{
  color: aqua;
}

.navbar>ul {
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
}

.navbar  a {
  text-decoration: none;
  color: aqua;
  display: block;
  padding: 10px 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.hero-section {
  position: relative;
  background-color:grey ;
  height: 800px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  padding-left: 10px;
  padding-left: 10px;
}

.container h4{
  font-size: 20px;
}

.container span{
  display: block;
  font-size: 40px;
  color: pink;
}
.container p {
  font-size: 25px;
  width: 70%;
}

.card {
  background-color: aqua;
  box-shadow: 0 5px 15px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

main {
  padding: 30px;
  overflow: auto;
}

.up {
  padding-top: 80px;
}

.content {
  width: 75%;
  float: left;
}

.content h2 {
  color: palevioletred;
  margin-top: 35px;
  margin-bottom: 5px;
  text-align: center;
}

.content h1{
  color: blue;
  text-align: center;
  margin-bottom: 15px;
}

.content p {
  text-indent: 3em;
  line-height: 28px;
  margin-bottom: 35px;
}

aside {
  width: 25%;
  padding-left: 20px;
  float: right;
}

aside h2{
  color: palevioletred;
  text-align: center;
}

aside figure{
  text-align: center;
}

section {
  margin-top: 15px;
}

section h1{
  word-spacing: 1px;
}

section span{
  font-weight: 500;
  align-items: f
}

footer {
  padding: 25px;
  background-color: blue;
  font-weight: 300;
  font-size: 14px;
}

footer h1{
  margin-left:150px;
  color: pink;
}

footer span{
  color: aqua;
}

footer p{
  text-align: center;
  font-weight: 500;
  font-size: medium;
  color: aliceblue;
}

@media screen and (max-width: 1000px) {
  .container{
    padding-left: 20px;
    padding-left: 20px;
  }
  .container h4{
    font-size: 15px;
  }
  .container p {
    font-size: 15px;
    width: 70%;
  }
  .container span{
    display: block;
    font-size: large;
    color: pink;
  }
  .content,
  aside {
    width: 100%;
    padding: 0;
  }
  .content p {
    font-size: 14px;
  }
  .gambar {
    width: 80%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 550px) {
  nav {
    padding: 12px 5px;
    flex-direction: column;
  }
  .navbar ul li {
    margin: 0;
  }
  .navbar ul li a {
    padding: 10px;
    font-size: 12px;
  }
  .content p {
    text-align: justify;
  }  
}

